
.button {
  font: inherit;
  border: 1px solid #084d68;
  background: #1e808d;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-left:auto; margin-right:0;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}